<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div id="inboxstyle">
                <div class="fab btn-group show-on-hover dropup">
                    <div data-toggle="tooltip" data-placement="left" title="Create User" style="margin-left: 42px;">
                            <button type="button" class="btn btn-danger btn-io dropdown-toggle" data-toggle="dropdown" (click)="dialog.open();">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x fab-backdrop"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse fab-primary"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse fab-secondary"></i>
                                </span>
                                </button>
                </div>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li>
                        <a data-toggle="tooltip" data-placement="top" title="Send email" (click)="sendMailDialog.open();">
                            <i class="fa fa-user"></i></a>
                    </li>
                    <li>
                        <a data-toggle="tooltip" data-placement="top" title="" (click)="reviewDetailDialog.open();" >
                            <i class="fa fa-lock"></i></a>
                    </li>
                    <li>
                        <a data-toggle="tooltip" data-placement="top" title="">
                            <i class="fa fa-spinner fa-spin"></i></a>
                    </li>
                    <li>
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <i class="fa fa-cog fa-fw"></i></a>
                    </li>
                </ul>
     </div>
    </div>
        <div class="card">
            <div class="card-header">
                <strong>Reviews</strong>
                <small> Product ASIN : {{_asin}} / {{_title}}</small>
                
            </div>
            <div class="card-block">
                <search-filters [merchants]="merchants" (filtersChange)="_reviewfilters=$event;onFiltersChanged(gridReview);"></search-filters>
                <vaadin-grid #gridReview [items]="_reviews" (selected-items-changed)="selected(gridReview)" selection-mode="multi">
                    <table class="table table-bordered table-striped table-condensed"  >
                        <colgroup>
                            <col name="customerID" hidable>
                            <col name="title"  >
                            <col name="customerName">
                            <col name="rating" sortable >
                            <col name="reviewDate" sortable >
                        </colgroup>
                    </table>
                </vaadin-grid>
            </div>
            <div class="card-footer">
                <p-paginator rows="10" totalRecords="{{_total_count}}" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)">{{_total_count}}</p-paginator>
            </div>
            <paper-dialog #sendMailDialog>
                    <!--<edit-user #editUser  (closeEditor)="dialog.close();  "></edit-user>-->
                    <div class="card">
                        <div class="card-header">
                            <strong>Send email for reviewer :</strong>
                            <small>Customer Name : {{_selectedOrder?.customerName}}</small>
                        </div>
                        <div class="card-block">
                            <form (ngSubmit)="onSubmit($event.value)" #emailForm="ngForm" novalidate>
                                <paper-textarea label="Message " #message ngDefaultControl  rows="10" [(value)]="_revierwerEmailMessage" auto-validate></paper-textarea>
                               
                            </form>
                            <paper-button raised (click)="emailForm.ngSubmit.emit(emailForm)"><iron-icon icon="file-download" ></iron-icon>send</paper-button>
                        </div>
                    </div>
            </paper-dialog>
            <paper-dialog #reviewDetailDialog>
                    <!--<edit-user #editUser  (closeEditor)="dialog.close();  "></edit-user>-->
                    <div class="card">
                        <div class="card-header">
                            <strong>Review Detail</strong>
                            <small></small>
                        </div>
                        <div class="card-block">
                            <div class="form-group">
                                <label for="company">customerName</label>
                                <input type="text" class="form-control" id="customerName" placeholder="{{_selectedReview?.customerName}}">
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="vat">title</label>
                                    <input type="text" class="form-control" id="title" placeholder="{{_selectedReview?.title}}">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="street">rating</label>
                                    <input type="text" class="form-control" id="rating" placeholder="{{_selectedReview?.rating}}">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="city">fullRating</label>
                                    <input type="text" class="form-control" id="fullRating" placeholder="{{_selectedReview?.fullRating}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="postal-code">content</label>
                                     <paper-textarea label="content " #message ngDefaultControl  *ngIf="_selectedReview"  rows="10" [(value)]="_selectedReview.content" auto-validate></paper-textarea>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="country">specificNote</label>
                                    <input type="text" class="form-control" id="specificNote" placeholder="{{_selectedReview?.specificNote}}">
                                </div>

                            </div>
                           
                        </div>
                    </div>
                </paper-dialog>
        </div>

<!--/row-->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>Orders</strong>
                <small> </small>
            </div>

            <div class="card-block">
                <vaadin-grid #gridOrder [items]="_orders" >
                    <table class="table table-bordered table-striped table-condensed">
                        <colgroup>
                            <col name="sellerOrderId">
                            <col name="buyerId">
                            <!--<col name="buyerName">
                            <col name="lastUpdateDate">-->
                        </colgroup>
                    </table>
                </vaadin-grid>
            </div>
           
            <div>

                <paper-dialog #dialog>
                    <!--<edit-user #editUser  (closeEditor)="dialog.close();  "></edit-user>-->
                    <div class="card">
                        <div class="card-header">
                            <strong>Purchase Order {{_selectedOrder?.amazonOrderId}}</strong>
                            <small></small>
                        </div>
                        <div class="card-block">
                            <div class="form-group">
                                <label for="company">Company</label>
                                <input type="text" class="form-control" id="company" placeholder="{{_selectedOrder?.buyerName}}">
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="vat">Purchase Date</label>
                                    <input type="text" class="form-control" id="vat" placeholder="{{_selectedOrder?.earliestShipDate}}">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="street">Eearliest Shipment Date</label>
                                    <input type="text" class="form-control" id="street" placeholder="{{_selectedOrder?.purchaseDate}}">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="city">Latest Update Date</label>
                                    <input type="text" class="form-control" id="city" placeholder="{{_selectedOrder?.LastUpdateDate}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="postal-code">Number of Items Shipped</label>
                                    <input type="text" class="form-control" id="postal-code" placeholder="{{_selectedOrder?.NumberOfItemsShipped}}">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="country">Number of Items UnShipped</label>
                                    <input type="text" class="form-control" id="country" placeholder="{{_selectedOrder?.NumberOfItemsUnshipped}}">
                                </div>

                            </div>
                            <!--/row-->
                            <div class="row">
                                <vaadin-grid #gridOrderItem [items]="_orderItems">
                                    <table class="table table-bordered table-striped table-condensed">
                                        <colgroup>
                                            <col name="sellerSKU">
                                            <col name="title">
                                            <col name="itemPrice">
                                            <col name="shippingPrice">

                                        </colgroup>
                                    </table>
                                </vaadin-grid>

                            </div>

                        </div>
                    </div>
                </paper-dialog>
            </div>
        </div>
    </div>
    <!--/col-->
</div>
<!--/row-->

</div>

</div>