<div class="toolbar" (click)="toggleFilters = !toggleFilters" [ngClass]="{open: toggleFilters}">
  Filters
  <iron-icon icon="filter-list"></iron-icon>
  <div class="badge">{{activeFilterCount}}</div>
</div>
<div class="filters" [ngClass]="{open: toggleFilters}">
  <div class="row">
    <div class="dates col">
      <!--<vaadin-date-picker label="After" [(value)]="filters.after" (valueChange)="filtersChanged()" initial-position="2015-02-01"></vaadin-date-picker>
      <vaadin-date-picker label="Before" [(value)]="filters.before" (valueChange)="filtersChanged()" initial-position="2016-03-01"></vaadin-date-picker>-->
    </div>
    <div class="merchants col">
      <!--<vaadin-combo-box class="merchants" [items]="merchants" label="Merchant" [(value)]="filters.merchant" (valueChange)="filtersChanged()"></vaadin-combo-box>-->
    </div>
  </div>
  <div class="row">
    <div class="amounts col">
      <paper-input  label="ASIN"   (keyup)="filters.asin = $event.target.value; filtersChanged();"></paper-input>
      <!--<paper-input placeholder="Max ($)" (keyup)="filters.max = $event.target.value; filtersChanged();"></paper-input>-->
    </div>
    <div class="checkboxes col">
      <span class="caption">Rating</span>
      <paper-checkbox (change)="updateStatus($event); filtersChanged();" name="1">1</paper-checkbox>
      <paper-checkbox (change)="updateStatus($event); filtersChanged();" name="2">2</paper-checkbox>
      <paper-checkbox (change)="updateStatus($event); filtersChanged();" name="3">3</paper-checkbox>
      <paper-checkbox (change)="updateStatus($event); filtersChanged();" name="4">4</paper-checkbox>
      <paper-checkbox (change)="updateStatus($event); filtersChanged();" name="5">5</paper-checkbox>
    </div>
  </div>
</div>
